.container {
    width:750px;
    background-color: lightcyan;
}

.row {
    display: flex;
    padding: 20px;
}

.sign {
    padding-top: 35px;
    margin-right: 30px;
    align-items: center;
    font-size: 30px;

    
}

.field {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 190px;
    width: 190px;
    overflow-wrap: break-word;
}

input, label {
    display:block;
}

input {
    height: 30px;
    text-align: center;
    background-color: lightblue;
}

input:disabled {
    color: black;
}