<div class="container">
  <div class="row">
    <div class="field">
      <label>Produzierter PV-Strom in kWh/Jahr</label>
      <input
        type="tel"
        [ngModel]="pv_prod"
        (ngModelChange)="update_pv_prod($event)"
        style="border: 1px solid grey"
        placeholder="0"
      />
    </div>
    <div class="sign">&minus;</div>
    <div class="field">
      <label>Genutzer PV-Strom in kWh/Jahr</label>
      <input
        type="tel"
        [ngModel]="pv_use"
        (ngModelChange)="update_pv_use($event)"
        style="border: 1px solid green"
        placeholder="0"
      />
    </div>
    <div class="sign">&equals;</div>
    <div class="field">
      <label> In der Cloud gespeicherter PV-Strom in kWh/jahr </label>
      <input
        type="tel"
        [ngModel]="cloud_stored"
        disabled="true"
        style="border: 1px solid red"
      />
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label> In der Cloud gespeicherter PV-Strom in kWh/jahr </label>
      <input
        type="tel"
        [ngModel]="cloud_stored"
        disabled="true"
        style="border: 1px solid red"
      />
    </div>
    <div class="sign">&minus;</div>
    <div class="field">
      <label>Genutzer Cloud-Strom in kWh/Jahr</label>
      <input
        type="tel"
        [ngModel]="cloud_use"
        (ngModelChange)="update_cloud_use($event)"
        style="border: 1px solid blue"
        placeholder="0"
      />
    </div>
    <div class="sign">&equals;</div>
    <div class="field">
      <label>Verkaufte Strommenge in kWh/Jahr</label>
      <input
        type="tel"
        [ngModel]="sold"
        disabled="true"
        style="border: 1px solid yellow"
      />
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label>Verkaufte Strommenge in kWh/Jahr</label>
      <input
        type="tel"
        [ngModel]="sold"
        disabled="true"
        style="border: 1px solid yellow"
      />
    </div>
    <div class="sign">&times;</div>
    <div class="field">
      <label>Erhaltener Betrag in Euro/kWh</label>
      <input
        type="tel"
        [ngModel]="sell_price"
        (ngModelChange)="update_sell_price($event)"
        style="border: 1px solid black"
        placeholder="0"
      />
    </div>
    <div class="sign">&equals;</div>
    <div class="field">
      <label> PV-Einname <br />in Euro/Jahr </label>
      <input
        type="tel"
        [ngModel]="revenue"
        disabled="true"
        style="border: 1px solid black"
      />
    </div>
  </div>
  <div class="row">
    <div class="field">
      <br /><label>PV-Einnahme</label> 
      <input
        type="tel"
        [ngModel]="revenue"
        disabled="true"
        style="border: 1px solid black"
      />
    </div>
    <div class="sign">&minus;</div>
    <div class="field">
      <br /><label>Cloud Gebühr</label>
      <input
        type="tel"
        [ngModel]="cloud_cost"
        (ngModelChange)="update_cloud_cost($event)"
        style="border: 1px solid black"
        placeholder="0"
      />
    </div>
    <div class="sign">&equals;</div>
    <div class="field">
      <br /><label> Ergebnis </label>
      <input
        type="tel"
        [ngModel]="result"
        disabled="true"
        style="border: 1px solid black"
      />
    </div>
  </div>
</div>
